<div>
    <h1> List of events </h1>
    <hr/>
    <div class="row">
        <div *ngFor="let event of events" class="col-md-5">
            <event-thumbnail [event]='event'></event-thumbnail>
        </div>
    </div>
</div>