<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
    <h2>{{event?.name}}</h2>
    <div> Date: {{event?.date}}</div>
    <div> Time: {{event?.time}}</div>
    <div [class.green]="event?.time === '8:00 am'" [ngSwitch]="event?.time">

        <span *ngSwitchCase="'8:00 am'"> (Empieza pronto)</span>

        <span *ngSwitchCase="'10:00 am'"> (Empieza tarde)</span>

        <span *ngSwitchDefault> (Empieza normal)</span>
    </div>
    <div> Price: \${{event?.price}}</div>
    <div *ngIf="event?.location">
        <span> Location: {{event?.location?.address}}</span>
        <span class="pad-left"> City: {{event?.location?.city}} , {{event?.location?.country}}</span>
    </div>
    <div *ngIf="event?.onlineUrl">
        OnlineUrl URL: {{event?.onlineUrl}}
    </div>
</div>
